
<div id="modal">
  <form>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" id="close" (click)="closeModal()"> </button>
    <h4>Contacto</h4>
      <input name="name" placeholder="¿Cual es tu nombre?" class="name" required />
      <input name="emailaddress" placeholder="Introduce tu mail" class="email" type="email" required />
      <textarea rows="4" cols="50" name="subject" placeholder="mensaje" class="message" required></textarea>
      <input name="submit" class="btn" type="submit" value="Enviar" routerLink="/" />
    </form>
  </div>
