<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-8 align-self-center order-2">
            <!-- informacion -->
            <div class="saludo" >
               <h2 id="primeraLinea"> Desarrollador web full stack. </h2>
               <!-- foto de perfil -->
                <div class="col-2 align-self-end order-1">
                    <section class="profilePic">
                        <img src="https://previews.dropbox.com/p/thumb/ABs2iG4yQi0XJ7cVJSSsmg9fkJZ6QHqGr5tVSXHVB8aV-gd1L9wag_HQW6XqyuPyNmAtbQB_zZbNIqELztDtfXS-Ifp_1f2yNo3BIFml4K4iNeVL8F4TQZ7Vd1R_zLnCXszGSIbTMFDTWAQpJKljI3rfOhtpj2PmfZ5lCdC3bC6VEY34nHjEZkP9Yf2g_ylk09n5Bg_BPd5ftp0nlWfqw0MLozGaFRD-l76f-MjwDAJZv-GFN_1ggdfkUBdl4cX2dyboTsCh0a3fYOrFpgBMXUSg9--ugOMU1BQS_7x_8ASPXF_FMAJy-ZPM7UWuOPsdgfIJQWjkenaWMJF8gu5-pSqi9pbowMT38Qz6uGGoxitu4ZvbaIe8dBPHK0t9ix5REQ4/p.jpeg" alt="imagen de perfil" id="imagen_de_perfil">
                    </section>  
                    </div>
                <h3 id="segundaLinea"> Diseño responsivo. HTML, CCS, JS & SQL</h3>
                
            <h3 id="Name">
            Alvaro Ortiz.
            </h3>
            </div>
            </div>

            <!-- imagen computadora -->
            <div class="col-2 align-self-center order-3">
                <img src="https://previews.dropbox.com/p/thumb/ABttL0u1XdleCCzP5sNkKblwwkfBRmxRbXD4pDdiPyjjiP5b2RPGGIo51qv43Dcsd4DxBi_FRCoCDAi9RbSNVH_eP1QFYI1Mf7EiB6RAREf7mYIFC7EVOH4-MN-Y8xK5vOyg4LuY8wDF9acfjzZ9hZoK6pVjOjKuHG9Xmg7QGKpTHnjeG_YahEZrqJvze2RKcskGFmR4KI4qDx2DwAxoQvxYIlh7pHtDOrw_m364BEIVgDydsKN8H6_EwejNq1bLLgc-mwxYr4gxGaSCjevlRTyjz3abeO9YJZKgiPGNP9rDOI835CgFeoL5IcduURt6GEsqDyfgs2NU4QMD1JgUuOHR87uY0HkVSQObC2WWnKNHkIMxuWs3cOhyc4n1V_Y3W3g/p.jpeg" alt="computadora" id="imagen_banner">
            </div>
    </div>
</div>