<hr>
<div class="container">
    <h3 id="subtituloExperiencia">Hard skills</h3>
    <!-- javascript skill -->
    <h4 class="skillTitle">Javascript <img src="https://previews.dropbox.com/p/thumb/ABuVq7ZasHZrXwiFpS8hTaeL64m7zMl0ruN5WzIUb1tqTdssutjSYCFdVKZZ2XRi_P7TNMtb20pQd4LHtEuyAl0CSG0bSTh0AEJmmUOnPeB1Fp2cvit__PO9d0SONc2qiyNflCb55uLcc7buTY8o1WHg0jdRRL_gbtx_9EkFRYDkKEEhthiBo6wavx6JXIxqVM9pjtgscu9HclRcakxwz1hBAMxOus7ssLt7ispxFUfpHopwrjS5honeEX6h0j_-MTel4qnEw530ra0ACw-7qM1H69LBlIQwgXLpdTRmHSCzAclkwvd6g3ckr4ABsBiQGy0PBdt9IWKDrh9qrEVeoxPzJ00aaDEEpFlmqX4XW3Lp8nmAaxJqASstntOEZFt_a08/p.png" alt="Javascript logo" class="skillImage"></h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning col-lg-8" role="progressbar" aria-label="Animated striped example " aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div> 
            </div> 
        <!-- ccs skill -->
        <h4 class="skillTitle">CCS <img src="https://previews.dropbox.com/p/thumb/ABs1-Cs_yBebGGlWTrx7WYMXP7xv_U70lWCGWKvD-FieL9dyXm29PLzTWZvOFlzknZ-PeIsmDoLbRq-vRrpy3ugJDYUfUQzlo_bAy8qPb2pJkkpOFuoCKsc7v6GdBGV1qx9LpMWJWLVZMOGO6xFS6CtZA0LVIJn1-lmCaSrkuxD7juD09dhofb30sBWJb-cVBZM2i1M81zOjh0rp1QTud0rZd_3jjvl7LsdOOUcMk5DOZfYxknecNgddSUZR3IQLsm9bw5h1XTjrLpnEPzZ_SIIC_SATcN4MfNgtP52qlXOSnrxTPQiU_TylYkcumUTtR5Bq4tQHDn4DsB-_EcHg7Pa-2NSe3yEq_cuoTR01z5k9slPuBBbat_e3YZCyUP0i9U0/p.png" alt="CCS logo" class="skillImage"></h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info col-lg-8" role="progressbar" aria-label="Animated striped example " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div> 
                </div> 

        <!-- HTML skill -->
        <h4 class="skillTitle">HTML <img src="https://previews.dropbox.com/p/thumb/ABsEE_59ce4IxrdPqKki5n38pv82CTto6-FXnK3Z-wYLGPoJ7WIPgJivKKh-NFfVnIwX1rouz4XePJ_tP_CbO_MC3VGGtbniwFXYi6U2oY8iFMkyLuTB5Jpzvoo5EMnQkTy3PpBSUlrKkgesraj6E5E5Arak93poWEjl9SFAcsP9-vny9VE3bAs5Ba-J3EGvDzU-JBV2DorrnNiIRafJjmPwXco5ovban1tjdvBoyQ1Mitqn0dRixNEpfVzJwLSPdU_wlKtOzJd5Vd1ZElZi9zt714hcyJtDeVFtrIGbMBQ-cbEsUumqxdcAwyvlx2uDdorsRuvqTM1_BT9Dt2UhLAsjgdEEMiKz5mSMYGvwGPiLY41O97e1kW_xfVAUwVLUBfc/p.png" alt="HTML logo" class="skillImage"></h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger col-lg-8" role="progressbar" aria-label="Animated striped example " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div> 
                </div> 

        <!-- Angular skill -->
        <h4 class="skillTitle">Angular <img src="https://previews.dropbox.com/p/thumb/ABse9s4s7BlWkJO6lKE7IDxNEbBt8lOfV1d7wa-Ylyh69VKgpPcqW0bkyXNBa06hNmTPw13tN2oK9Se8pe253XL1VRjXmmtZjXDo7c_CKWp2J-hoEm40dun22g06K8OimmV9DNeqVO6c4vW1MwJeXJtj8MRTzBNpGrltvEGgrz39GbkeVsuuTpZKXT6EWDNsBtbK-fohjJGAVhbp-CO-DlhmiuIU7W1Ec15ks1-LU0tlIWyIkiq7EFATcA8oYR7YBjA5egxYoOvIJbhrj1g2GpCFTNXohemBsgtk_XGiTV9F8jwtXNmEaDZplRXB1w_8EeQ4R5jc1wcrmPVdNkXwsu4K0MiwIalH02YOr2bTneHXMNOvBsoq92tnbzjvce-LHoc/p.png" alt="Angular logo" class="skillImage"></h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger col-lg-8" role="progressbar" aria-label="Animated striped example " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div> 
                </div> 
 </div>