<!-- seccion "Acerca de" -->
<section id="acerca_de">
    <strong>Acerca de</strong>
    <div class="clearFix"></div>
    Aprendiendo el arte de programar. Tratando de ser cada día mejor persona.
</section>

<!-- seccion "Experiencia" -->
<section id="experiencia">

    <strong>Experiencia</strong>
    <div class="clearFix"></div>
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" alt="Logo Argentina Progerama" width="90" height="50" alt="Logo Argentina Programa">
    <strong>Argentina Programa.</strong>
    <div class="clearFix"></div>
    <span style="padding-left: 100px;"> Creación de portafolio web. </span>
    <div class="clearFix"></div>
    <span style="padding-left: 100px;"> Julio 2022 a Enero 2023 </span>
    <div class="clearfix"></div>
    <img src="C:\Users\Africa\Desktop\fotos de Victoria G&G\IMG-20220408-WA0042.jpg" alt="Logo Victoria G&G" width="80px">
    <span style="margin-left: 10px;"><strong>VictoriaG&G</strong> </span>
    <div class="clearfix"></div>
    <span style="padding-left: 100px;"> Web developer Jr.</span>
    <div class="clearFix"></div>
    <span style="padding-left: 100px;"> Agosto 2022 - actualidad. </span>


  </section>
  
  <!-- seccion "Educación" -->
  <section id="educacion">
    <strong>Educación</strong>
    <div class="clearFix"></div>
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" alt="Logo Argentina Programa" width="90" height="50">
    <strong>Argentina Programa</strong>
    <div class="clearFix"></div>
    <span style="padding-left: 100px;">Web developer full stack Jr.</span> 
    <div class="clearFix"></div>
    <span style="padding-left: 100px;">Julio 2022 a Enero 2023</span>
    <div class="clearFix"></div>

  </section>

