
<!-- Seccion "experiencia" -->
<hr>
<h3 id="subtituloExperiencia">Experiencia</h3>
  <section class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
       <div class="card" id="cardID" style="width: 18rem;">
         <img src="https://i.pinimg.com/736x/2e/c1/b8/2ec1b8702e03678d11d4094fe41495be.jpg" class="card-img-top" alt="Logo Argentina Programa">
           <div class="card-body">
             <h5 class="card-title">Argentina Programa</h5>
             <p class="card-text">Creación de portafolio web.
             <br> Julio 2022 a Enero 2023
             </p>
             <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa#:~:text=%C2%BFQu%C3%A9%20es%20Argentina%20Programa%204.0,del%20software%20y%20la%20tecnolog%C3%ADa." target="_blank" class="btn btn-dark">Argentina Programa</a>
           </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-lg-4">
  <div class="card" id="cardID" style="width: 18rem;">
    <img src="https://previews.dropbox.com/p/thumb/ABsr5XV-HceTtDbGAmV-BipmBhCIzBG9QhqHi0MWJgXHAn2lb5yeYrLXAhYWp2fO8avwExv2QK5nRJhyBtgE2XNImvdRpD4YWo0Ov9hU2F-UUvdx-E-g6S8wGoFZmX57YbBIV-bPEW6_V1ASOSTnp_Mt-6ctCCW-XtKdBde-iFHFm36kfR0EbBlK7STNuImpqpLXDjDBrA_fbUfxuM_nkGjDttCkJEJXKRBGJMjn2Nsby5TjxkD2Yc1uJJaE94nhb2CNmdWQYv_-wMugbK7p35_7UCeH7ypCD7Sn1ZHp0SK3nAym0d23vPHCXunqCtqBCJ-El8VeGvF7taeBBMXJISzLqn9MrhNafHhaaMWvCWG2KqILOwoB1ZY6hL647xBYSjc/p.jpeg" class="card-img-top" alt="Logo Victoria G&G" width="90" height="175">
    <div class="card-body">
      <h5 class="card-title">Victoria G&G</h5>
      <p class="card-text">Web developer Jr.
        <br> Agosto 2022 - actualidad.
      </p>
      <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa#:~:text=%C2%BFQu%C3%A9%20es%20Argentina%20Programa%204.0,del%20software%20y%20la%20tecnolog%C3%ADa." target="_blank" class="btn btn-dark">Victoria G&G</a>
       </div>
      </div>
   </div>
 </div>
 
</section>
<hr>


<!-- Seccion Educación -->
<h3 id="subtituloExperiencia">Educación</h3>
<section class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-4">
     <div class="card" id="cardID" style="width: 18rem;">
       <img src="https://i.pinimg.com/736x/2e/c1/b8/2ec1b8702e03678d11d4094fe41495be.jpg" class="card-img-top" alt="Logo Argentina Programa">
         <div class="card-body">
           <h5 class="card-title">Argentina Programa</h5>
           <p class="card-text">Web developer full stack Jr.
           <br> Enero 2022 a Enero 2023
           </p>
           <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa#:~:text=%C2%BFQu%C3%A9%20es%20Argentina%20Programa%204.0,del%20software%20y%20la%20tecnolog%C3%ADa." target="_blank" class="btn btn-dark">Argentina Programa</a>
           </div>
   </div>
  </div>
</div>

</section>
