
<!-- Seccion "experiencia" -->
<hr>


<div id="iconos" *ngIf="loged == true"><span class="material-icons" (click)="desplegarEditarExperiencia()">
  create
  </span>
  <span class="material-icons" (click)="desplegarDelete()">
      delete_forever
      </span>
      <span class="material-icons" (click)="desplegarAgregarExperiencia()">
        add_circle_outline
        </span>
    </div> 
<div class="contenedor">
  <h3 id="subtituloExperiencia">Experiencia</h3>
  <br>
  <div *ngFor="let experiencia of experiencias">
    <div id="iconos" *ngIf="editarExperiencia == true"><span class="material-icons" [routerLink]="['/experienciaModal', experiencia.id]">
      create
      </span>
    </div>
    <div *ngIf="delete == true">
<button type="button" class="btn-close btn-close-dark" aria-label="Close" id="closeExperiencia" (click)="borrarExperiencia(experiencia.id)" >
</button>
</div>
    <a href="{{experiencia.link}}" target="_blank"><p class="descripcion">{{experiencia.titulo}}</p></a>
    <p class="titulo">{{experiencia.descripcion}} ({{experiencia.periodoComienzo}}/{{experiencia.periodoFinal}})</p>
    <p class="responsabilidades">{{experiencia.responsabilidades}}</p>
    <div class="contenedorImagen"><img [src]="experiencia.imagen" alt="{{experiencia.descripcion}}" class="imagen"></div>
    <hr id="lineaFinal">
  </div>
  
    
      <a href="https://www.dl.dropboxusercontent.com/s/i2whwvhupkuf243/curriculoDEV.pdf?dl=0" download="CurriculoAlvaroOrtiz">
        <button class="descargarCurriculo">Descarga mi curriculo actualizado 
          <span class="material-icons" id="download">
            cloud_download
            </span>
        </button> 
      </a>

</div>

<hr>


<!-- Seccion Educación -->
<div id="iconos" *ngIf="loged == true"><span class="material-icons" (click)="desplegarEditarEducacion()">
  create
  </span>
  <span class="material-icons" (click)="desplegarDeleteEducacion()">
      delete_forever
      </span>
      <span class="material-icons" (click)="desplegarAgregarEducacion()">
        add_circle_outline
        </span>
    </div> 
<div class="contenedor">
  <h3 id="subtituloExperiencia">Educacion</h3>
  <br>
  <div *ngFor="let educ of educacion">
    <div id="iconos" *ngIf="editarEducacion == true"><span class="material-icons" [routerLink]="['/educacionModal', educ.id]">
      create
      </span>
    </div>
    <div *ngIf="deleteEducacion == true">
<button type="button" class="btn-close btn-close-dark" aria-label="Close" id="closeExperiencia" (click)="borrarEducacion(educ.id)" >
</button>
</div>
    <a href="{{educ.link}}" target="_blank"><p class="descripcion">{{educ.titulo}}</p></a>
    <p class="titulo">{{educ.descripcion}} ({{educ.periodoComienzo}}/{{educ.periodoFinal}})</p>
    <p class="responsabilidades">{{educ.contenido}}</p>
    <div class="contenedorImagen"><img [src]="educ.imagen" alt="{{educ.descripcion}}" class="imagen"></div>
    <hr id="lineaFinal">
  </div>
  
</div>

