hr {
    margin-left: 70px;
    margin-right: 70px;
    color: black;
}
body{
    background-color: whitesmoke;
       background-image: url("imagenes/imagenDeFondo2.jpg");
       background-size: cover;
       background-attachment: fixed;
       z-index: 1;
   
   }